<template lang="pug">
  //- This is an isolated test view. Just for testing purpose.
  div.test-view
    div.text-center
      v-btn.ma-1(small @click="view = 'month'" color="primary" depressed :outlined="view !== 'month'") month view
      v-btn.ma-1(small @click="view = 'week'" color="primary" depressed :outlined="view !== 'week'") week view
      v-btn.ma-1(small @click="view = 'day'" color="primary" depressed :outlined="view !== 'day'") day view
    vue-cal.ml-2.mr-1.vuecal--blue-theme(
    selected-date="2020-04-20"
    :disable-views="['years', 'year','day']"
    :events="events"
    :active-view.sync="view"
    events-on-month-view="short"
    today-button
    @ready="fetchEvents"
    @view-change="fetchEvents")
</template>

<script>
  import VueCal from '@/components/vue-cal'

  // Simulating 3 arrays of events coming from an API,
  // one array for week 44, one for week 45, one for week 46 (week partinioning for convenience).
  // If view changes to month view, return all the events of the 3 weeks.
  const events = {
    17: [
      {
        start: '2020-04-20 11:20',
        end: '2020-04-21 14:50',
        title: 'Need to go shopping',
        content: '<i class="v-icon material-icons">shopping_cart</i>',
        class: 'leisure'
      },
      {
        start: '2020-04-21 15:00',
        end: '2020-04-21 16:00',
        title: 'Golf with John',
        content: '<i class="v-icon material-icons">golf_course</i>',
        class: 'test-2-4'
      },
    ],
    18: [
      {
        start: '2020-04-22 11:20',
        end: '2020-04-23 14:50',
        title: 'Need to go shopping',
        content: '<i class="v-icon material-icons">shopping_cart</i>',
        class: 'leisure'
      },
      {
        start: '2020-04-19 15:00',
        end: '2020-04-19 16:00',
        title: 'Golf with John',
        content: '<i class="v-icon material-icons">golf_course</i>',
        class: 'sport'
      },
    ],
    19: [
      {
        start: '2020-04-26 11:20',
        end: '2020-04-27 14:50',
        title: 'Need to go shopping',
        content: '<i class="v-icon material-icons">shopping_cart</i>',
        class: 'leisure'
      },
      {
        start: '2020-04-25 15:00',
        end: '2020-04-25 16:00',
        title: 'Golf with John',
        content: '<i class="v-icon material-icons">golf_course</i>',
        class: 'sport'
      },
      {
        start: '2020-04-07 13:20',
        end: '2020-04-07 20:50',
        title: 'test3-4 calendar',
        content: '<i class="v-icon material-icons">test1-1 calendar</i>',
        class: 'calendar VerticalEvent',
        flag: 'kr'
      },
      {
        start: '2020-04-09 04:20',
        end: '2020-04-09 10:50',
        title: 'test3-4 calendar',
        content: '<i class="v-icon material-icons">test1-1 calendar</i>',
        class: 'calendar VerticalEvent'
      },
      {
        start: '2020-04-09 12:21',
        end: '2020-04-09 19:50',
        title: 'test3-4 calendar',
        content: '<i class="v-icon material-icons">test2-1 calendar</i>',
        class: 'calendar VerticalEvent'
      },
      {
        start: '2020-04-10 00:21',
        end: '2020-04-11 19:50',
        title: 'test3-4 calendar',
        content: '<i class="v-icon material-icons">test2-1 calendar</i>',
        class: 'calendar VerticalEvent'
      },
      {
        start: '2020-04-16 01:00',
        end: '2020-04-16 04:00',
        sharedStyle: {
          'MemberKey' : 1,
          'sort' : 0,
          'total' : 1,
        },
        title: 'first event calendar MergeEvent',
        content: '<i class="v-icon material-icons">golf_course</i>',
        class: 'sport MergeEvent'
      },
      {
        start: '2020-04-16 01:00',
        end: '2020-04-16 04:00',
        sharedStyle: {
          'MemberKey' : 2,
          'sort' : 1,
          'total' : 2,
        },
        title: 'first event calendar MergeEvent',
        content: '<i class="v-icon material-icons">golf_course</i>',
        class: 'sport MergeEvent'
      },
      {
        start: '2020-04-16 01:00',
        end: '2020-04-16 04:00',
        sharedStyle: {
          'MemberKey' : 3,
          'sort' : 2,
          'total' : 3,
        },
        title: 'first event calendar MergeEvent',
        content: '<i class="v-icon material-icons">golf_course</i>',
        class: 'sport MergeEvent'
      },
    ]
  }

  const now = new Date()
  export default {
    components: { VueCal },
    data: () => ({
      selectedDate: now,
      view: 'year',
      events: [
        {
          start: now.subtractDays(1),
          end: now.addDays(1),
          title: 'Event'
        },
        {
          start: new Date(new Date(now).setHours(1, 0, 0)),
          end: new Date(new Date(now).setHours(4, 0, 0)),
          title: 'Event 1'
        },
        {
          start: new Date(new Date(now).setHours(3, 0, 0)),
          end: new Date(new Date(now).setHours(5, 0, 0)),
          title: 'Event 2'
        }
      ]
    }),

    methods: {
      fetchEvents ({ view, startDate, endDate, week }) {
        console.log('Fetching events', { view, startDate, endDate, week })

        // Do an ajax call here with the given startDate & endDate.
        // Your API should return an array of events for this date range.
        // Here we pretend an API call with a Promise and the setTimeout simulates the payload time.
        new Promise((resolve, reject) => { setTimeout(resolve, 400) })
          .then(() => {
            console.log(view)
            switch (view) {
              case 'week':
                // If week view return the current week from API.
                this.events = [...events[17], ...events[18], ...events[19]]
                break
              case 'month':
              case 'day':
                // If `month` or `day` view, return all the events from API.
                // (But your API should rather return events only for the given date range)
                this.events = [...events[17], ...events[18], ...events[19]]
                break
            }
          })
      },

      log (params) {
        console.log(params)
      },
      onDragStart (e, draggable) {
        e.dataTransfer.setData('event', JSON.stringify(draggable))
        e.dataTransfer.setData('cursor-grab-at', e.offsetY)
      },
      onEventDrop ({ event, originalEvent, external }) {
        if (external) {
          const extEventToDeletePos = this.draggables.findIndex(item => item.id === originalEvent.id)
          if (extEventToDeletePos > -1) this.draggables.splice(extEventToDeletePos, 1)
        }
      }
    }
  }
</script>

<style lang="scss">
  .vuecal {}
  .vuecal__event {
    background-color: rgba(160, 220, 255, 0.5);
    border: 1px solid rgba(0, 100, 150, 0.15);
  }

  // Global.
  html, body, #app, .v-application--wrap, .container {height: 100%;}
  #app {padding-top: 2em;}
  .v-application--wrap {min-height: 0;padding-top: 7em;}
  .test-view {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  footer {display: none !important;}


  //month what
  .vuecal--month-view .vuecal__cell-content {
    justify-content: flex-start;
    height: 100%;
    align-items: flex-end;
  }


  .vuecal--month-view .vuecal__cell-date {padding: 4px;}
  .vuecal--month-view .vuecal__no-event {display: none;}

  .vuecal__event.flyhigh {display: inline-block;background-color: rgba(123, 156, 66, 0.9);border: 1px solid rgb(233, 136, 46);color: #fff;}
  /*
  .vuecal--month-view .vuecal__cell {height: 80px;}

  .vuecal--month-view .vuecal__cell-content {
    justify-content: flex-start;
    height: 100%;
    align-items: flex-end;
  }

  .vuecal--month-view .vuecal__cell-date {padding: 4px;}
  .vuecal--month-view .vuecal__no-event {display: none;}
  */

</style>
